<header>
  <div class="container">
    <a href="" class="logo">MyFirstApp</a>
    <nav>
      <ul>
        <li>
          <a href="#" class="nav-element" routerLink="/">Home</a>
        </li>
        <li>
          <a href="#" class="nav-element" routerLink="/login">Login</a>
        </li>
        <li>
          <a href="#" class="nav-element" routerLink="/item">List of items</a>
        </li>
        <li>
          <a href="#" class="nav-element" routerLink="/list">List of items</a>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div>
